{% load static %}

<!-- Категории -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Категории</h5>
                <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div class="container justify-content-center"
                    style="display:grid; grid-gap: 5px; grid-template-columns: repeat(auto-fit, 242px); grid-template-rows: repeat(2, 242px);">
                    <div>
                        <img src="../static/pods.png" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#pods">
                    </div>
                    <div>
                        <img src="../static/forpods.png" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#pod-liquid">
                    </div>
                    <div>
                        <img src="../static/forvape.png" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#liquid">
                    </div>
                    <div>
                        <img src="../static/mod.png" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#battery-mods">
                    </div>
                    <div>
                        <img src="../static/meh.png" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#meh">
                    </div>
                    <div>
                        <img src="../static/samozames.png" style="width: 212px; height: 212px; object-fit: cover;"
                            alt="" class="fide" data-bs-toggle="modal" data-bs-target="#samozames">
                    </div>
                    <div>
                        <img src="../static/nabor.png" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#setups">
                    </div>
                    <div>
                        <img src="../static/bak.png" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#baki">
                    </div>
                    <div>
                        <img src="../static/лфкекшяр.jpg" style="width: 212px; height: 212px; object-fit: cover;" alt=""
                            class="fide" data-bs-toggle="modal" data-bs-target="#kartridzi">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Поды -->
<div class="modal fade" id="pods" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">POD-системы</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Механические моды -->
<div class="modal fade" id="meh" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Механические моды</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Жидкости для подов -->
<div class="modal fade" id="pod-liquid" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Жидкости для POD-систем</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Жидкости -->
<div class="modal fade" id="liquid" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Жидкости</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Батарейные моды -->
<div class="modal fade" id="battery-mods" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Батарейные моды</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Самозамес -->
<div class="modal fade" id="samozames" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Самозамес</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Наборы -->
<div class="modal fade" id="setups" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Наборы</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Баки -->
<div class="modal fade" id="baki" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Баки</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Картриджи -->
<div class="modal fade" id="kartridzi" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Картриджи</h5>
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#Modal">
                    <- </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>