{% load static %}

<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">Контакты</h5>
                <button class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#">
                    x
                </button>
            </div>
            <div class="modal-body">
                <div class="row featurette-divider" style="text-align: center;">
                    <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3Acf5ea88e47a2f553b6538d6457f0688459f13200e69a212e64b9cee83eea27ba&amp;source=constructor"
                        width="670" height="576" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>