{% extends 'base.html' %}{% load static %}
{% block title %}Cloudy{% endblock %}
{% block content %}

<main>
    <div>
        <div id="carouselExampleLight div-carousel" class="carousel carousel-light slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="7000">
                    <img src="{% static 'carousel4.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color: white; text-shadow: 2px 2px 2px #000;">Мы посмотрели на часы и поняли, что
                            настало
                            время ПРИВЕЗТИ ЭКСПРОМАЙЗЕРЫ!</h1>
                        <h5 style="color: white; text-shadow: 2px 2px 2px #000;" class="lead">Итак, оригинальный EXVAPE
                            EXPROMIZER V5.</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="7000">
                    <img src="{% static 'carousel2.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color: white; text-shadow: 2px 2px 2px #000;">Что же такого в жидкости RELL, раз её
                            так
                            спрашивали и ждали?</h1>
                        <h5 style="color: white; text-shadow: 2px 2px 2px #000;">Так много вопросов и так мало
                            ответов...
                        </h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="7000">
                    <img src="{% static 'carousel3.jpg' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 style="color: white; text-shadow: 2px 2px 2px #000;">Мы подумали и решили смириться с вашей
                            любовью к Хаскам, поэтому они СНОВА ВО ВСЕХ МАГАЗИНАХ В НАЛИЧИИ!!</h1>
                        <h5 style="color: white; text-shadow: 2px 2px 2px #000;">Мы сдаёмся.</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleLight"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Назад</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleLight"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Далее</span>
            </button>
        </div>
        <hr class="featurette-divider">
        <div class="container marketing div-icon">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../static/333.png" alt="" class="rounded-circle">
                    <h5 class="text-center" style="color: white; text-shadow: 2px 2px 2px #000;">14 дней на обмен и
                        возврат
                    </h5>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../static/222.png" alt="" class="rounded-circle">
                    <h5 class="text-center" style="color: white; text-shadow: 2px 2px 2px #000;">Гарантия на всю
                        электронику
                    </h5>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../static/111.png" alt="" class="rounded-circle">
                    <h5 class="text-center" style="color: white; text-shadow: 2px 2px 2px #000;">Предзаказы любых
                        позиций
                    </h5>
                </div>
            </div>
        </div>
    </div>


    <div>

    </div>
</main>
{% endblock %}