{% extends 'base.html' %}{% load static %}
{% block title %}Cloudy Vapeshop{% endblock %}
{% block content %}

<main>
    <div>
        <div id="carouselExampleLight" class="carousel carousel-light slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleLight" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="7000">
                    <img src="{% static 'carousel5.jpg' %}" class="d-block w-100" alt="..."
                        style="width: 2560px; height: 650px; object-fit: cover; -webkit-filter: brightness(0.7);">
                    <div class="carousel-caption d-md-block">
                        <h1 style="color: white; text-shadow: 0px 10px 10px #41a002;">НОВАЯ ЛИНЕЙКА СОЛЕВОГО СКАНДАЛИСТА
                            PRIME В НАЛИЧИИ В САРАТОВЕ.</h1>
                        <h4 style="color: white; text-shadow: 0px 10px 10px #41a002;" class="lead">Как обычно, в лучших
                            традициях Скандалиста - ярко, незабываемо и круто. Одна из самых лучших линеек от
                            российского производителя.</h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="7000">
                    <img src="{% static 'carousel2.jpg' %}" class="d-block w-100" alt="..."
                        style="width: 2560px; height: 650px; object-fit: cover; -webkit-filter: brightness(0.7);">
                    <div class="carousel-caption d-md-block">
                        <h1 style="color: white; text-shadow: 0px 0px 10px #41a002;">Что же такого в жидкости RELL, раз её
                            так
                            спрашивали и ждали?</h1>
                        <h4 style="color: white; text-shadow: 0px 0px 10px #41a002;">Так много вопросов и так мало
                            ответов...
                        </h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="7000">
                    <img src="{% static 'carousel3.jpg' %}" class="d-block w-100" alt="..."
                        style="width: 2560px; height: 650px; object-fit: cover; -webkit-filter: brightness(0.7);">
                    <div class="carousel-caption d-md-block">
                        <h1 style="color: white; text-shadow: 0px 0px 10px #41a002;">Мы подумали и решили смириться с вашей
                            любовью к Хаскам, поэтому они СНОВА ВО ВСЕХ МАГАЗИНАХ В НАЛИЧИИ!!</h1>
                        <h4 style="color: white; text-shadow: 0px 0px 10px #41a002;">Мы сдаёмся.</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleLight"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Назад</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleLight"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Далее</span>
            </button>
        </div>
    </div>
    <hr class="featurette-divider">

    <div style="max-width: auto; height: 200px;">
        <div class="container marketing div-icon">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <img src="../static/333.png" alt="" class="rounded-circle">
                    <h5 class="text-center" style="color: white; text-shadow: 2px 2px 2px #000;">14 дней на обмен и
                        возврат
                    </h5>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../static/222.png" alt="" class="rounded-circle">
                    <h5 class="text-center" style="color: white; text-shadow: 2px 2px 2px #000;">Гарантия на всю
                        электронику
                    </h5>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="../static/111.png" alt="" class="rounded-circle">
                    <h5 class="text-center" style="color: white; text-shadow: 2px 2px 2px #000;">Предзаказы любых
                        позиций
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div style="height: auto; max-width: 1700px; padding-top: 100px;" class="text-center">
        <div style="height: 600px;" class="container-fluid">
            <table style="height: 600px; width: 1700px;">
                <tr>
                    <td style="width: 50%; height: 600px; padding-left: 15%; text-align: right;">
                        <h2 style="color: white; text-shadow: 2px 2px 2px #000;">
                            Сервисный центр
                        </h2>
                        <span style="color: white; text-shadow: 2px 2px 2px #000;">
                            На базе нашего магазина на Набережной Космонавтов 5, в городе Саратове, работает полноценный
                            сервисный центр по ремонту электронных сигарет и вейп девайсов, а также их обслуживанию.
                            Получить бесплатную консультацию, "намотать" бак или дрипку, отполировать механический мод,
                            отремонтировать сломавшийся девайс - можно уже сегодня!
                        </span>
                    </td>
                    <td style="width: 50%; height: 600px;">
                        <img src="../static/remont.jpg" alt="Сервисный центр" style="height: 500px; width: 500px; object-fit: cover;"
                            class="img-thumbnail">
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div style="height: auto;" class="container-fluid">
            <table style="height: 600px; width: 1700px;">
                <tr>
                    <td style="width: 50%; height: 600px; padding-left: 20%;">
                        <img src="../static/birth.jpg" class="img-thumbnail" alt="Если у Вас День рождения"
                            style="height: 500px; width: 500px; object-fit: cover;">
                    </td>
                    <td style="width: 50%; height: 600px; padding-right: 10%; padding-left: 8%; text-align: left;">
                        <h2 style="color: white; text-shadow: 2px 2px 2px #000;">
                            Если у Вас День рождения
                        </h2>
                        <span style="color: white; text-shadow: 2px 2px 2px #000;">
                            В день рождения, и три дня после - скидка на все жидкости ассортимента - 20%, на железо -
                            10%*
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
{% endblock %}