{% extends 'base.html' %}{% load static %} {% load bootstrap3 %}
{% block title %}Ред. | Cloudy Vapeshop{% endblock %}
{% block content %}

<main>
    {% if request.user.is_authenticated %}
    {% include 'categories.html' %}
    {% include 'about.html' %}
    {% include 'contacts.html' %}


    <div style="max-width: 45%; margin: 5%; background-color: white; border-radius: 10px; padding: 15px;">
        <h1>Добавить пост в карусель</h1>
        <form method="post" action="{% url 'settings' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form  %}
            {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
        </form>
    </div>
    {% else %}
    <div style="padding: 10%">
        <h1 style="color: white">
            Error success
        </h1>
    </div>
    {% endif %}
</main>

{% endblock %}