{% load static %}

<div class="modal fade" id="about" tabindex="-1" aria-labelledby="ModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg d-flex">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLable">О нас</h5>
                <button class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#">
                    x
                </button>
            </div>
            <div class="modal-body">
                Cloudy - одна из крупнейших сетей вейп-шопов и вейп-пабов в Саратовской области. Мы более трех лет
                находимся на рынке электронных сиграет, и точно знаем что предложить нашим клиентам!<br><br>

                Все руководство компании, фанаты своего дела, и для нас вейпинг не просто бизнес, а наше главное
                увлечение. Мы посещаем все российские и междунородные выставки, и всегда привозим от туда, все самое
                новое.<br><br>

                Во всех наших магазинах работают высококвалифицированные специалисты, которые проходят дологое
                обучение и будут рады проконсультировать и поделится опытом Вами по абсолютно любым вопросам
                связанными с электронными сиграетами. Если же Вы сами разбираетесь в теме, и очень дорожите своим
                временем - просто оформите заказ в нашем интернет магазине, и получить его путем самовывоза в наших
                магазинах или доставкой.
            </div>
        </div>
    </div>
</div>