{% load static %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#top"><img src="../static/лого.png" alt=""
        style="object-fit: contain; width: 250px; height: 50px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" style="padding-top: 2px;">
          <button type="button" class="btn btn-outline-search">
            <a href="#uslugi" style="text-decoration: none; color: white;">
              Услуги
            </a>
          </button>
        </li>
        <li class="nav-item" style="padding-top: 2px;">
          <button type="button" class="btn btn-outline-search ">
            <a href="#faq" style="text-decoration: none; color: white;">
              FAQ
            </a>
          </button>
        </li>
        <li class="nav-item" style="padding-top: 2px;">
          <button type="button" class="btn btn-outline-search">
            <a href="#cont" style="text-decoration: none; color: white;">
              Контакты
            </a>
          </button>
      </ul>
      <span class="navbar-text mx-3" style="color: white; padding-right: 0px; padding-left: 0px;">+7(927) 226-60-58</span>
      <span class="navbar-text mx-3" style="color: white;">Люберцы, 3-е Почтовое отделение, 80А<br><small>Вход через магазин
          Шварцкайзер</small></span>
    </div>
  </div>
</nav>